.NavBar {
    background-color: white;
}

.NavBar {
    display: flex;
    flex-direction: row;
    margin: auto 20px;
    justify-content: space-around;
    align-items: center;
}

.NavBar ul{
    display: flex;
    flex-direction: row;
}

h1 {
    color: black;
}

ul li{
    list-style: none;
}

a {
    text-decoration: none;
    margin: 5px 20px;
    color: black;
}

a:hover {
    color: #daa520;
}